<center><h1>Hey there! Please enter an ISBN number.</h1>

<h3><%=isbn_num%> <%=message1%> <%=results%> <%=message2%></h3>

<form action='isbn_num' method='post'>
		<input type='text' name='isbn_input'><!-- <br><br><br> -->
		<p><input type='submit'></p>
</form></center>